@import "../colors.scss";

.card {
    --background-col: var(--blue-readable-bg);

    background: var(--background-col);

    padding: 1em;

    flex-grow: 1;

    width: fit-content;
    height: fit-content;

    border: 6px ridge;

    .title {
        height: 1lh;
        max-height: 2lh;

        padding: 0;
        margin: 0;
        font-size: 1em;
    }

    .content {
        width: min-content;
        min-width: 30ch;
    }

    .description {}

    .meta {
        float: right;
        text-align: right;
    }
}