@import "../utils.scss";

@mixin hlist {
    margin: 0;
    padding: 0;

    list-style: none outside;

    li {
        display: inline;
    }

    // TODO: implement javascript script that ensures that a line does not start with a bullet point
    // bullet points should only be between two list items that aren't split by a browser-inserted linebreak
    li:not(:first-child)::before {
        content: " • "
    }
}