{% import "macros/opengraph.html" as og %}
{% import "macros/uf/h-card.html" as h_card %}
{% import "macros/utils.html" as utils %}

{% extends "webpage.html" %}

{% block meta %}
    {{ super() }}

    {{ og::type(value="profile") }}

    {{ og::profile(
    first="Ness",
    last="Shannon",
    username="newtbytes",
    gender=utils::ness_gender())
    }}
{% endblock meta %}

{% block feeds %}
    {% if config.generate_feeds %}
        {{ super() }}
    {% endif %}
{% endblock feeds %}

{% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS"
        href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
{% endblock rss %}

{% block atom %}
    <link rel="alternate" type="application/atom+xml" title="Atom"
        href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
{% endblock atom %}

{% block webPageSchema %}
    typeof="ProfilePage"
{% endblock webPageSchema %}

{% block content %}
    {{ h_card::profile(
    first="Ness",
    last="Shannon",
    username="newtbytes",
    gender=utils::ness_gender(),
    email="ness@newtbytes.cc",
    url="https://newtbytes.cc/",
    pfp=get_url(path="img/pfp.png"),
    bday="2007-9-19",
    schema="property=mainEntity")
    }}

    {{ section.content | safe }}
{% endblock content %}