{% extends "webpage.html" %}

{% import "macros/types.html" as types %}

{% macro map_section(section, position=1) %}
<a href="{{section.permalink}}">
    <span property="name">{{section.title}}</span>
</a>
<meta property="position" content="{{position}}">
<ul property="item" typeof="BreadcrumbList">
    <meta property="name" content="{{section.title}}">

    {% for subsection in section.subsections %}
        {% set subsection = get_section(path=subsection) %}
        <li property="itemListElement" typeof="ListItem">
            {{self::map_section(section=subsection, position=position+1)}}
        </li>
    {% endfor %}

    {% for year, pages in section.pages | group_by(attribute="year") %}
        <li property="itemListElement" typeof="ListItem">
            <span property="name">{{ year }}</span>
            <meta property="position" content="{{position+1}}">
            <ul property="item" typeof="BreadcrumbList">
                {% for page in pages %}
                    {% if utils::censored() == 'true' and page.extra | get(key="censored", default=false) %}
                        {% continue %}
                    {% endif %}

                    {% set title = page.title %}
                    {% if not title and page.date %}
                        {% set title = page.date %}
                    {% endif %}
                    <li property="itemListElement" typeof="ListItem">
                        {% if page.date %}
                            {{types::dt(date=page.date, type="published", format="%B %e")}}:
                        {% endif %}

                        <a property="item" typeof="WebPage" href="{{page.permalink}}">
                            <span property="name">{{title}}</span>
                        </a>

                        {% if page.updated %}
                            <small>(updated {{types::dt(date=page.updated, type="published")}})</small>
                        {% endif %}

                        <meta property="position" content="{{position+2}}">
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endmacro map_section %}

{% block content %}
    <h1>Sitemap</h1>

    <ul typeof="BreadcrumbList">
        <li property="itemListElement" typeof="ListItem">
            {{self::map_section(section=get_section(path="_index.md"))}}
        </li>
    </ul>
{% endblock content %}