{% extends "webpage.html" %}

{% import "macros/types.html" as types %}

{% macro map_section(section) %}
<a href="{{section.permalink}}">{{section.title}}</a>
{# <meta property="position" content="{{position}}"> #}
<ul property="item" typeof="ItemList">
    <meta property="name" content="{{section.title}}">

    {% for subsection in section.subsections %}
        {% set subsection = get_section(path=subsection) %}
        <li property="itemListElement" typeof="ListItem">
            {{self::map_section(section=subsection)}}
            <meta property="position" content="{{loop.index}}">
        </li>
    {% endfor %}

    {% set subsection_count = section.subsections | length%}

    {% for year, pages in section.pages | group_by(attribute="year") %}
        <li>
            {{ year }}
            <ul>
                {% for page in pages %}
                    {% if utils::censored() == 'true' and page.extra | get(key="censored", default=false) %}
                        {% continue %}
                    {% endif %}

                    {% set title = page.title %}
                    {% if not title and page.date %}
                        {% set title = page.date %}
                    {% endif %}
                    <li property="itemListElement" typeof="ListItem">
                        {% if page.date %}
                            {{types::dt(date=page.date, type="published", format="%B %e")}}:
                        {% endif %}

                        <a property="item" typeof="WebPage" href="{{page.permalink}}">
                            <span property="name">{{title}}</span>
                        </a>

                        {% if page.updated %}
                            <small>(updated {{types::dt(date=page.updated, type="published")}})</small>
                        {% endif %}

                        <meta property="position" content="{{subsection_count + loop.index}}">
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endmacro map_section %}

{% block content %}
    <h1>Sitemap</h1>

    <ul typeof="ItemList">
        <li property="itemListElement" typeof="ListItem">
            {{self::map_section(section=get_section(path="_index.md"))}}
        </li>
    </ul>
{% endblock content %}